.dropbtn {
  background-color: #3a3a3a;
  color: white;
  padding: 12px 15px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.cart.dropdown-content:after {
  position: absolute;
  bottom: 100%;
  left: 21%;
  border: solid transparent;
  content: "";
  border-bottom-color: white;
  border-width: 10px;
}

.cart.dropdown-content::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 20px;
  top: -20px;
  background: transparent;
  left: 9%;
}

.profile.dropdown-content::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 20px;
  top: -20px;
  background: transparent;
}
