:where(.css-dev-only-do-not-override-amq5gd).ant-table-wrapper
  .ant-table-pagination-right {
  justify-content: center !important;
}

.ant-btn-primary {
  background-color: #1677ff !important;
  &:hover {
    background-color: #4096ff !important;
  }
}
