:where(.css-dev-only-do-not-override-amq5gd).ant-btn-primary {
  background-color: #1677ff !important;
}
.ant-segmented {
  background-color: white;
}

.ant-segmented-item.ant-segmented-item-selected {
  background-color: #f5f5f5 !important;
  // color: white !important;
}
