.payment-accordion {
  .ant-collapse-item:last-child {
    border-bottom: none !important;
  }
  .ant-collapse-item:first-child {
    border-top: none !important;
  }
  .ant-collapse-item-active .ant-collapse-header {
    background-color: white;
  }
  .ant-collapse-item-active {
    border-top: 1px solid #d9d9d9 !important;
  }
  .ant-collapse-content-box {
    padding: 0px 16px 8px !important;
  }
}

.label-name::after,
.label-email::after,
.label-password::after {
  content: "*";
  color: #e02b27;
  font-size: 0.8rem;
  margin: 0 0 0px 5px;
  position: relative;
  left: 0px;
  bottom: 2px;
}
