@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-color: #ececec;
  --main-orange-color: #f48220;
  --button-red-color: #fe0000;
  --main-grey-color: #666666d9;
  --footer-bg: #273647;
  --text-gray: #666666d9;
  --category-title: #555555;

  font-size: 92%;
  font-family: "Open Sans", sans-serif !important;
}

* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}

input:focus-visible {
  outline: none;
}

body {
  font-weight: 400;
  font-style: normal;
}

svg {
  fill: #fff;
}

::placeholder {
  color: black !important;
  font-weight: 400 !important;
}

/* AntDesign CSS */
.ant-drawer-close {
  display: none !important;
}

.category-item:last-child {
  border-bottom: none !important;
}

/* Swiper JS */

.swiper-button-prev,
.swiper-button-next {
  color: var(--main-grey-color);
}

@media only screen and (max-width: 576px) {
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      font-size: 20px;
    }
  }
}

// React Slider
.slick-prev:before,
.slick-next:before {
  color: #111;
}

.slider2 {
  .slick-list {
    .slick-track {
      display: flex;
      justify-content: center;
    }
    .slick-slide {
      max-width: 86px;
      transition:
        transform 0.6s,
        opacity 0.6s;
      opacity: 0.5;
      margin: 0 5px;
    }
    .slick-slide:hover,
    .slick-active.slick-current {
      opacity: 1;
      border: 1px solid rgba(0, 0, 0, 0.2);
      img {
        transition:
          transform 0.6s,
          opacity 0.6s;
      }
    }
  }
}

// According Product
.ant-collapse-item-active {
  border-top: 1px solid var(--main-orange-color) !important;
  .ant-collapse-header {
    background-color: rgba(0, 0, 0, 0.03);
    font-weight: 700;
    color: var(--main-orange-color) !important;
    transition: none !important;
  }
}

.ant-collapse {
  background-color: transparent;
}

.ant-collapse-item {
  border-top: 1px solid #d9d9d9;
  border-bottom: none !important;
  &:last-child {
    border-bottom: 1px solid #d9d9d9 !important;
  }
}

.ant-collapse-content-box {
  padding: 16px 36px !important;
}
